.tippy {
    overflow-y: auto; /* Overlay scrollbar on top of the content */
    /* max-height: 300px; Set a maximum height */
    height: auto; /* Automatically adjust to content height */
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and borders are included */
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: var(--md-primary-fg-color) rgba(255, 255, 255, 0.5);
}



/* Ensure hover state keeps the tooltip visible */
.tippy-box:hover {
    opacity: 1.0 !important;
}

.tippy h1{
    font-size: 0.85rem;  /* Default size */
    line-height: 1.3; /* Reduced line height */
    margin: 0 0 0.9em;
}

.tippy h2{
    font-size: 0.80rem;  /* Default size */
    line-height: 1.3; /* Reduced line height */
    margin: 0 0 0.9em;
}

.tippy h3{
    font-size: 0.75rem;  /* Default size */
    line-height: 1.3; /* Reduced line height */
    margin: 0 0 0.9em;
}

.tippy h4{
    font-size: 0.70rem;  /* Default size */
    line-height: 1.3; /* Reduced line height */
    margin: 0 0 0.9em;
}

.tippy p{
    font-size: 0.65rem;  /* Default size */
    line-height: 1.3; /* Reduced line height */
    margin-block-start: 0.75em;
    margin-block-end: 0.75em;
}

.tippy div{
    font-size: 0.65rem;
    line-height: 1.3; /* Reduced line height */
    margin-block-start: 0.75em;
    margin-block-end: 0.75em;
}

.tippy ul{
    font-size: 0.65rem;
    line-height: 1.3; /* Reduced line height */
    margin-block-start: 0.75em;
    margin-block-end: 0.75em;
}

[data-md-color-scheme="gnome"] .tippy {
    border: 1px solid whitesmoke;
    scrollbar-color: var(--md-primary-fg-color) var(--md-default-bg-color);
    opacity: 0.95 !important;
}

[data-md-color-scheme="slate"] .tippy {
    border: 1px solid var(--md-default-fg-color--lightest);
    scrollbar-color: var(--md-default-fg-color) var(--md-default-bg-color);
    opacity: 0.95 !important;
}

[data-theme~='translucent'] {
    background-color: var(--md-default-bg-color) !important;
    opacity: 0.95 !important;
}

[data-md-color-scheme="gnome"] .tippy-box * {
    color: var(--md-default-fg-color);
}


.tippy::-webkit-scrollbar {
    width: 8px; /* Thin scrollbar */
    margin: 0;
}


.tippy::-webkit-scrollbar-track {
    opacity: 0.95 !important;
}
