mkdocs
mkdocs-material[imaging]
mkdocs-minify-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-git-committers-plugin-2
mkdocs-git-authors-plugin
mkdocstrings-python
BeautifulSoup4
mkdocs-rss-plugin
mkdocs-exclude-search
mkdocstrings-python
